/* ------------ CSS Reset ------------ */

*, *::before, *::after {
    box-sizing: border-box;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ------------ Custom CSS ------------ */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: #B9A267;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
}

/* ------------ Form ------------ */

.container-form {
    background-color: white;
    height: 600px;
    width: 450px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    padding: 15px;

    align-self: flex-start;
}

h2 {
    font-size: 4rem;
    font-weight: 900;
}

h3 {
    font-size: 0.9rem;
}

label {
    font-size: 0.7rem;
    font-weight: bold;
    display: block;
    margin-left: 3px;
    margin-bottom: 4px;
}

form {
    padding: 20px 20px 0px 20px;
    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    gap: 15px;
}

input {
    border: 2px solid #d4d4d4;
    width: 145px;
    border-radius: 8px;
}

form > div:last-child {
    width: 100%;
}

.sign-up {
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 15px;
}

.sign-up + p {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: auto;
    padding: 10px;
}

strong > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.break {
    color: rgb(53, 53, 53);
    font-weight: bold;
    font-size: 0.9rem;
    width: 60%;
    padding: 10px;

    display: flex;
    gap: 10px;
}

hr {
    flex: 1;
}

.container-signup-buttons {
    padding: 5px;
}

.container-signup-buttons > p {
    font-size: 0.7rem;
    text-align: center;
    padding: 10px;
}

.container-signup-buttons > button {
    font-size: 0.8rem;
    background-color: white;
    border: 2px solid #d4d4d4;
    border-radius: 40px;
    height: 40px;
    width: 100px;
}


/* ------------ Hero ------------ */

.container-hero {
    background: center/cover url('img/hero.jpg') no-repeat;
    height: 600px;
    width: 600px;
}

.container-hero-buttons {
    padding: 20px;

    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.container-hero-buttons > button:first-child {
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    border: none;
    background: transparent;
}
 
.container-hero-buttons > button:last-child {
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 25px;
    padding: 10px;
    width: 90px;
}

.container-hero-community {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.container-hero-community > div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-svg {
    background-color: white;
    border-radius: 500px;
    height: 60px;
    width: 60px;

    display: flex;
}

img {
    width: 100%;
    padding: 15px;
}

.container-svg + p {
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
    width: 100px;
}

.container-hero-community > div:last-child {
    width: 120px;
}

.container-hero-community > hr {
    border: 1px solid white;
    height: 0;
}
