/* ------------ CSS Reset ------------ */

*, *::before, *::after {
    box-sizing: border-box;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ------------ Custom CSS ------------ */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: #B9A267;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
}

/* ------------ Form ------------ */

.container-form {
    background-color: blanchedalmond;
    height: 600px;
    width: 450px;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    padding: 15px;
}

h2 {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}

h3 {
    font-size: 0.9rem;
    text-align: center;
}

label {
    font-size: 0.8rem;
    font-weight: 900;
    display: block;
}

form {
    padding: 20px;
    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
}
/* ------------ Hero ------------ */

.container-hero {
    background: center/cover url('img/hero.jpg') no-repeat;

    height: 600px;
    width: 600px;
}